.list{
    width: 90%;
    padding: 1rem;
    max-width: 40rem;
    margin: 1rem auto;

}
.list_holder{
    width: 90%;
    border-color: black;
    border-width: .5px;
    padding: .3rem;
    margin: 1px;
    border-style: solid;
}